*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(92, 95, 109);
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    min-width: 250px;
    width: 50%;
    max-width: 500px;
    background-color: rgb(66, 60, 60);
    border-radius: 10px;
    padding: 20px;
}

#title-name{
    color: white;
}

#input-field-desc{
    color: white;
    margin-top: 10px;
}

#input-container{
    display: flex;
    margin-top: 10px;
    gap: 15px;
}

#input-name{
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}

#search-btn{
    padding: 5px 15px;
    border-radius: 5px;
}

.progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
    gap: 25px
}

.circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: 550;
    border: 4px solid green;
    background: conic-gradient(
        green var( --progress-degree , 0%), rgb(2, 50, 2) 0%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.performance{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
}

.performanceContent{
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgb(205, 142, 27);
}